@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Roboto+Slab&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 12px; 
    font-family: 'Roboto Slab',Arial, Helvetica, sans-serif; 
}


.flex{
    display: flex;
    flex-direction: column;
  }
  .top {
    display: flex;
    justify-content: space-between;
    background-color: #ffc803;
    margin: 0;
    width: 100%;
    
   

  }
  .caja {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    border-radius: 8px;
    -webkit-box-shadow: 0px 4px 11px 2px rgba(196,190,196,1);
    -moz-box-shadow: 0px 4px 11px 2px rgba(196,190,196,1);
    box-shadow: 0px 4px 11px 2px rgba(196,190,196,1);
  }
  .titulo {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding-left: 10%;
    padding-right: 10%;
  }
  .caja-vertical {
    display: flex;
    margin: 2% 0%;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
  }
  p {
    font-size: 1rem;
  }
  .card2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    height: 15rem;
    margin: 1rem;
    border-radius: 8px;
    -webkit-box-shadow: 0px 4px 11px 2px rgba(196,190,196,1);
    -moz-box-shadow: 0px 4px 11px 2px rgba(196,190,196,1);
    box-shadow: 0px 4px 11px 2px rgba(196,190,196,1);
    flex-grow: 1;
    
  }
  a {
    font-size: 1.2rem;
    text-decoration: none;
  }